<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-container">
                    <h1>Login</h1>
                    <h6>Please enter email & password!!</h6>
                </div>
                
                    <form [formGroup]="loginForm" class="form" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" placeholder="example@email.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                          <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')">*Email ID is required</span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">*Password is required</span>
                        </div>
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-sm">Login</button>
                      </form>
                <a style="color:rgb(144, 144, 243); margin-top: 10px;" routerLink="/signup">New user? Click to signup!</a>
            </div>
        </div>
    </div>
</div>
