<nav class="navbar navbar-light bg-primary">
    <div class="container">
        <h1 style="color:aliceblue ;">Angular CRUD</h1>
        <div class="">
            <button (click)="clickAddEmployee()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"class="btn btn-success">Add Employee
            </button>
            <button routerLink="/login" class="btn btn-danger mx-2">Log Out</button>
        </div>
    </div>
</nav>
<div class="container">
  <table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData" >
            <!-- <td>1</td>
            <td>firstName</td>
            <td>lastName</td>
            <td>email</td>
            <td>mobile</td>
            <td>salary</td>
            <td> -->
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.salary}}</td>
            
            <td>
              <button (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info btn-sm">Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3 btn-sm">Delete</button>
            </td>
                
        </tr>
    </tbody>
</table>

</div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <span class="text-danger" *ngIf="formValue.controls['firstName'].dirty && formValue.hasError('required', 'firstName')">*First Name is required</span>
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
                  <span class="text-danger" *ngIf="formValue.controls['lastName'].dirty && formValue.hasError('required', 'lastName')">*Last Name is required</span>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Email Address</label>
                  <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
                  <span class="text-danger" *ngIf="formValue.controls['email'].dirty && formValue.hasError('required', 'email')">*Email is required</span>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Mobile No.</label>
                  <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1">
                  <span class="text-danger" *ngIf="formValue.controls['mobile'].dirty && formValue.hasError('required', 'mobile')">*Mobile Number is required</span>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Salary</label>
                  <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1">
                  <span class="text-danger" *ngIf="formValue.controls['salary'].dirty && formValue.hasError('required', 'salary')">*Salary is required</span>
                </div>
                
              </form>
        </div>
        <div class="modal-footer">
          <button type="button"  id="cancle" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary btn-sm">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>
    </div>
  </div>
